swagger: "2.0"
info:
  description: "揪團"
  version: "1.0.0"
  title: "o2gather"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "o2gather.ptass.org"
basePath: "/api/v1"
tags:
  - name: "user"
    description: "使用者相關"
  - name: "event"
    description: "團購相關"
  - name: "category"
    description: "類別相關"
schemes:
  - "https"
paths:
  /events:
    get:
      tags:
        - "event"
      description: "取得所有團購"
      operationId: "getAllEvents"
      produces:
        - "application/json"
      parameters:
        - name: "category"
          in: "query"
          description: "values that need to be considered for filter"
          required: false
          type: "string"
        - name: "search"
          in: "query"
          description: "values that need to be considered for filter"
          required: false
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Event"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
    post:
      tags:
        - "event"
      description: "新增團購"
      operationId: "createEvent"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "新增團購"
          required: true
          schema:
            type: object
            properties:
              name:
                type: "string"
                description: "團購名稱"
                example: "團購名稱"
              description:
                type: "string"
                description: "團購描述"
                example: "團購描述"
              category:
                type: "string"
                description: "團購類別"
                example: "團購類別"
              start_time:
                type: "number"
                format: "int32"
                description: "團購開始時間"
                example: "1680153135"
              end_time:
                type: "number"
                format: "int32"
                description: "團購結束時間"
                example: "1680153140"
              min_amount:
                type: "number"
                format: "int64"
                description: "最少數量"
                minimum: 2
                example: "2"
              max_amount:
                type: "number"
                format: "int64"
                description: "最多數量"
                minimum: 2
                example: "2"
            required:
              - name
              - description
              - category
              - start_time
              - end_time
              - min_amount
              - max_amount
              - invited
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Event"
        "400":
          description: "Invalid body"
          schema:
            $ref: "#/definitions/DefaultError"
        "403":
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
  /events/{event_id}:
    get:
      tags:
        - "event"
      description: "取得團購"
      operationId: "getEvent"
      produces:
        - "application/json"
      parameters:
        - name: "event_id"
          in: "path"
          description: "團購ID"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Event"
        "404":
          description: "Event not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
    patch:
      tags:
        - "event"
      description: "更新團購"
      operationId: "updateEvent"
      produces:
        - "application/json"
      parameters:
        - name: "event_id"
          in: "path"
          description: "團購ID"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "更新團購"
          required: true
          schema:
            type: object
            properties:
              name:
                type: "string"
                description: "團購名稱"
                example: "團購名稱"
              description:
                type: "string"
                description: "團購描述"
                example: "團購描述"
              category:
                type: "string"
                description: "團購類別"
                example: "團購類別"
              start_time:
                type: "number"
                format: "int32"
                description: "團購開始時間"
                example: "1680153135"
              end_time:
                type: "number"
                format: "int32"
                description: "團購結束時間"
                example: "1680153140"
              min_amount:
                type: "number"
                format: "int64"
                description: "最少數量"
                minimum: 2
                example: "2"
              max_amount:
                type: "number"
                format: "int64"
                description: "最多數量"
                minimum: 2
                example: "2"
            required:
              - name
              - description
              - category
              - start_time
              - end_time
              - min_people
              - max_people
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Event"
        "400":
          description: "Invalid body"
          schema:
            $ref: "#/definitions/DefaultError"
        "404":
          description: "Event not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
    delete:
      tags:
        - "event"
      description: "刪除團購"
      operationId: "deleteEvent"
      produces:
        - "application/json"
      parameters:
        - name: "event_id"
          in: "path"
          description: "團購ID"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/DefaultMsg"
        "403":
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/DefaultError"
        "404":
          description: "Event not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
  /events/{event_id}/join:
    put:
      tags:
        - "event"
      description: "加入團購"
      operationId: "joinEvent"
      produces:
        - "application/json"
      parameters:
        - name: "event_id"
          in: "path"
          description: "團購ID"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "加入團購"
          required: true
          schema:
            type: object
            properties:
              amount:
                type: "number"
                format: "int64"
                description: "購買數量"
                minimum: 1
                example: "1"
            required:
              - amount
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/DefaultMsg"
        "400":
          description: "Owning event or Has joined"
          schema:
            $ref: "#/definitions/DefaultError"
        "403":
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/DefaultError"
        "404":
          description: "Event not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
  /events/{event_id}/leave:
    post:
      tags:
        - "event"
      description: "離開團購"
      operationId: "leaveEvent"
      produces:
        - "application/json"
      parameters:
        - name: "event_id"
          in: "path"
          description: "團購ID"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/DefaultMsg"
        "404":
          description: "Event not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
  /events/{event_id}/msgs:
    get:
      tags:
        - "event"
      description: "取得團購的公告"
      operationId: "getEventMsgs"
      produces:
        - "application/json"
      parameters:
        - name: "event_id"
          in: "path"
          description: "團購ID"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/EventMsg"
        "404":
          description: "Event not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
    post:
      tags:
        - "event"
      description: "新增團購的公告"
      operationId: "createEventMsg"
      produces:
        - "application/json"
      parameters:
        - name: "event_id"
          in: "path"
          description: "團購ID"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "新增團購訊息"
          required: true
          schema:
            type: object
            properties:
              content:
                type: "string"
                description: "訊息內容"
                example: "訊息內容"
            required:
              - content
      responses:
        "200":
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/EventMsg"
        "403":
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/DefaultError"
        "404":
          description: "Event not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
  /categories:
    get:
      tags:
        - "category"
      description: "取得所有類別"
      operationId: "getCategories"
      produces:
        - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: array
            items:
              schema:
                type: "string"
                description: "類別名稱"
                example: "類別名稱"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"

  /login:
    post:
      tags:
        - "user"
      description: "導向至 https://accounts.google.com/o/oauth2/v2/auth 取得同意授權後，取得ID、姓名"
      operationId: "Login"
      produces:
        - "application/json"
      responses:
        "303":
          description: "redirect to homepage"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/DefaultError"
        "409":
          description: "Conflict"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
  /logout:
    post:
      tags:
        - "user"
      description: "登出"
      operationId: "Logout"
      produces:
        - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/DefaultMsg"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"

  /users/{user_id}:
    get:
      tags:
        - "user"
      description: "取得使用者的基本資料"
      operationId: "getUserInfo"
      produces:
        - "application/json"
      parameters:
        - name: "user_id"
          in: "path"
          description: "使用者ID"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "403":
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
    patch:
      tags:
        - "user"
      description: "更新基本資料"
      operationId: "updateUserInfo"
      produces:
        - "application/json"
      parameters:
        - name: "user_id"
          in: "path"
          description: "使用者ID"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "user info to be updated"
          required: true
          schema:
            type: object
            properties:
              avatar:
                type: "string"
                description: "avatar path"
              name:
                type: "string"
                description: "使用者名稱"
              email:
                type: "string"
                format: "email"
                description: "avatar path"
              phone:
                type: "string"
                pattern: '^09[0-9]{8}$'
                description: "phone number"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        "403":
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
  /users/{user_id}/events:
    get:
      tags:
        - "user"
      description: "取得使用者的團購"
      operationId: "getUserEvents"
      produces:
        - "application/json"
      parameters:
        - name: "user_id"
          in: "path"
          description: "使用者ID"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/Event"
        "404":
          description: "User not found"
          schema:
            $ref: "#/definitions/DefaultError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/DefaultError"
            
definitions:
  Event:
    type: "object"
    properties:
      id:
        type: "string"
        format: "uuid"
      user_id:
        type: "string"
        format: "uuid"
        description: "發起者ID"
      name:
        type: "string"
        description: "團購名稱"
        example: "團購名稱"
      description:
        type: "string"
        description: "團購描述"
        example: "團購描述"
      category:
        type: "string"
        description: "團購類別"
        example: "團購類別"
      start_time:
        type: "number"
        format: "int32"
        description: "團購開始時間"
        example: "1680153135"
      end_time:
        type: "number"
        format: "int32"
        description: "團購結束時間"
        example: "1680153140"
      min_amount:
        type: "number"
        format: "int64"
        description: "最少數量"
        minimum: 2
        example: "2"
      max_amount:
        type: "number"
        format: "int64"
        description: "最多數量"
        minimum: 2
        example: "2"
      members:
        type: "array"
        description: "已參加的成員（含發起者）清單（只限發起者可以看到）"
        items:
          properties:
            name:
              type: "string"
            email:
              type: "string"
              format: "email"
            phone:
              type: "string"
              pattern: '^09[0-9]{8}$'
            amount:
              type: "number"
              format: "int32"
              example: "1"
          required:
            - name
            - email
            - phone
            - amount
    required:
      - id
      - name
      - description
      - category
      - start_time
      - end_time
      - min_amount
      - max_amount
  EventMsg:
    type: "object"
    properties:
      content:
        type: "string"
        description: "訊息內容"
        example: "訊息內容"
      user:
        type: "object"
        description: "發送者"
        properties:
          name:
            type: "string"
            description: "使用者名稱"
            example: "使用者名稱"
          avatar:
            type: "string"
            format: "url"
            description: "使用者頭像"
            example: "https://example.com/avatar.png"
        required:
          - name
          - avatar
      created_at:
        type: "number"
        format: "int32"
        description: "訊息建立時間"
        example: "1680153135"
    required:
      - id
      - content
      - created_at
  Category:
    type: "string"
  DefaultMsg:
    type: object
    properties:
      message:
        type: string
        description: "訊息"
        example: "success"
      message_code:
        type: string
        description: "訊息代碼"
        example: "message_code"
    required:
      - message
  DefaultError:
    type: object
    properties:
      message:
        type: string
        description: "錯誤訊息"
        example: "error occur"
      error_code:
        type: string
        description: "錯誤代碼"
        example: "error_code"
    required:
      - message
  User:
    type: "object"
    properties:
      id:
        type: "string"
        format: "uuid"
      avatar:
        type: "string"
        format: "url"
      name:
        type: "string"
      email:
        type: "string"
        format: "email"
      phone:
        type: "string"
        pattern: '^09[0-9]{8}$'